<% title "Editing #{@mailing_list.name}" %>
<%= render :partial => 'form' %>

<% @page_title = "Editing #{@mailing_list.name}" %>

<%= content_for :page_navigation do %>
  <div>
  <% if use_show_for_resources? %>
    <%= link_to "Show", @mailing, :class => 'button' %><div class="linkbuttonEnding"></div>
  <% end %>
    <%= link_to "Back", MailManager.mailing_lists_path, :class => 'button' %><div class="linkbuttonEnding"></div>
  </div>
<% end %>