*.gem
*.rbc
*.swp
*.local.yml
db/structure.sql
.bundle
.config
.yardoc
.DS_Store
*.local.yml
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.sqlite3
log
*.log
spec/test_app/config/database.yml
