<%= contactable_form.fields_for :subscriptions do |subscription_fields| %>
	<% subscription = subscription_fields.object %>
  <tr valign="top">
    <td>
    <%= subscription_fields.label :status, subscription.mailing_list.try(:name) %>
    </td>
    <td>
    <%= subscription_fields.check_box :status, {}, 'active', subscription.status.eql?('active') ? 'unsubscribed' : subscription.status %>
    <%= subscription_fields.hidden_field :mailing_list_id %>
    </td>
  </tr>
<% end %>
