<p>Hi <%= @contact.full_name %>,</p>

<p>You have successfully unsubscribed '<%= @contact.email_address %>' from '<%= @mailing_list.name %>'. This is merely a confirmation that the subscription has been ended.</p>

<p>Thank you.</p>
