<% title "Edit Contact" %>

<%= render :partial => 'form' %>

<%= content_for :page_navigation do %>
  <div>
  <% if use_show_for_resources? %>
    <%= link_to "Show", @contact, :class => 'button' %><div class="linkbuttonEnding"></div>
  <% end %>
    <%= link_to "View All", mail_manager.contacts_path, :class => 'button' %><div class="linkbuttonEnding"></div>
  </div>
<% end %>
