<%= title "New Contact" %>

<%= render :partial => 'form' %>

<%= content_for :page_navigation do %>
<div>
  <%= link_to "Back to List", mail_manager.contacts_path, :class => 'button' %>
</div>
<% end %>
