<!-- InstanceBeginEditable name="content" -->

<img src="/images/logo.jpg" class="image" align="right" />

<h1>Thank You</h1>
<p>You have successfully subscribed to our email list.</p>
<p><a href="/index.html" class="link">Click here</a> to return to our home page.</p>


<!-- InstanceEndEditable -->
</div><!--content-->
</div><!--wrapper-->
