<!DOCTYPE html>
<html>
<head>
  <title>MailManager</title>
  <%= stylesheet_link_tag    "mail_manager/application", :media => "all" %>
  <%= javascript_include_tag "mail_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
