<!DOCTYPE html>
<html lang='en'>
<head>
  <title>IReach Newsletter Archive</title>
</head>
<body>
<div id="top"><%= image_tag "mail_manager/iReach_logo.gif", width: "269", height:"85", style: "float: left;" %></div>
<%= yield %>
</body>
</html>
