<% title "New Mailing List" %>

<%= render :partial => 'form' %>

<%= content_for :page_navigation do %>
  <div>
    <%= link_to "Back", mail_mgr_mailing_lists_path, :class => 'button' %><div class="linkbuttonEnding"></div>
  </div>
<% end %>