<% title "Editing Subscription for #{@subscription.contact.full_name} " %>

<%= content_for :subnav do %>
<div>
  <%= link_to 'Back', mail_manager.mailing_list_subscriptions_path(@mailing_list), :class => 'button' %><div class='linkbuttonEnding'></div>
</div>
<% end %>

<%= render :partial => 'form' %>

<% @subscription.inspect %>
