<h1>Unsubscribed</h1>
<p>You have successfully unsubscribed '<%= @contact.email_address %>' from '<%= @mailing_lists.join("', '") %>' at <%= link_to site_url, site_url%>. You should receive a message shortly confirming your change in subscription.</p>
