<% title "Edit Contact" %>

<%= render :partial => 'form' %>

<% content_for :page_navigation do %>
  <div>
  <% if Conf.use_show_for_resources %>
    <%= link_to "Show", @contact, :class => 'button' %><div class="linkbuttonEnding"></div>
  <% end %>
    <%= link_to "View All", mail_manager_contacts_path, :class => 'button' %><div class="linkbuttonEnding"></div>
  </div>
<% end %>
