<% title "New Contact" %>

<%= render :partial => 'form' %>

<%= content_for :page_navigation do %>
<div>
  <%= link_to "Back to List", mail_mgr_contacts_path, :class => 'button' %><div class="linkbuttonEnding"></div>
</div>
<% end %>
